// SCSS Variables

// Color
$pastle-pink: #F38181;
$pastle-purple: #625772;
$off-white: #ededed;

// Fonts
$k2d: 'K2D', sans-serif;
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;



body {
    color: $pastle-pink;
    font-family: $raleway;
    overflow-x: hidden;
    margin: 0;
}

footer {
    position: absolute;
    text-align: center;
    color: #625772;
    font-size: 20px;
    width: 100%;
    height: 30px;
    bottom: 0;
    margin-bottom: 20px;
}

h1, h2 {
    color: $pastle-purple;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 100%;
}

.headerBackground {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}



button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $pastle-purple;
}

::-webkit-scrollbar-thumb:hover {
    background: $pastle-pink;
}

.collectionBtn {
    background-color: $pastle-pink;
    color: #ffffff;
    font-family: $raleway;
    text-align: center;
    cursor: pointer;
    display: inline;
    font-size: 30px;
    border: none;
    padding: 10px;
    margin-left: -5px;
}

.collection {
    background-color: $pastle-pink;
    color: #ffffff;
    font-size: 30px;
    display: inline;
    font-family: $raleway;
    border: none;
    padding: 10px;

}

.searchArea {
    margin-bottom: 20px;
}

.collectionResult {
    height: auto;
}


// Image gallery
.close {
    background: none;
    color: black;
    border: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    //overflow: hidden;
}

.item-wrapper {
    z-index: 1;
    transform: translateY(20px) scale(1);
    margin: 0 auto;
    opacity: 0;    
    animation: scaleIn 1.5s ease forwards;
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            animation-delay: (0.1s * $i); 
        }
    }
}

.item {
    transition: transform cubic-bezier(0.69, -0.21, 0.35, 1.1) 2.5s, opacity ease .5s, border-width ease .5s;
    height: 350px;
    width: 355px;
    border-style: solid;
    border-color: rgba(98, 87, 114, 0.08);
    border-width: 1px;
    margin: 9px;
    opacity: 1;
    background: white;
    &:hover {
        border-style: dashed;
        border-color: rgba(136, 136, 136, 0.4);
        cursor: pointer;
        opacity: 1;
    }
}

.item.itmShowcase {
    border: none;
    margin: 0px;
    width: 100%;
    height: 100vh;
    opacity: 1;
    &:hover {
        border-style: none;
        cursor: default;
    }
}

.itemBorderOut {
    border-width: 0px;
}



.item img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    margin-top: 140px;
    background: white;
    padding: 4px;
    transition: ease .5s;
    opacity: .8;
}


.vaImage {
    transform: scale(1);
}

.vaimageShowcase {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
    transform: scale(1) !important;
    opacity: 1;
}

.vaImageOut {
    transform: scale(0);
}

.item__overlay {
    position: relative;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    margin-top: -295px;
}

.item__overlay.itmOverlayShowcase {
    margin-top: -10px;
    background: rgba(98, 87, 114, 0.54902);
    padding: 10px;
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
}

.item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.item:hover img {
    opacity: 1;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
}

.overlay-inner {
    background: white;
    width: 490px;
    padding: 20px;
}

.overlay img {
    width: 100%;
}

.itemTitle {
    font-family: "Playfair Display", serif;
    margin-top: -1px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: $pastle-pink;
    opacity: 1;
    transform: translateY(0px);
    transition: all ease .6s;
}

.itemTitleFull {
    display: none;
}

.itemTitleFull.active {
    display: block;
}

.itemTitle.itmTitleShowcase {
    margin-top: 180px;

    color: white;
    font-size: 60px;
    opacity: 1;
    text-align: center;
}

.itemTitleOut {
    opacity: 0;
    transform: translateY(-5px);
}

.titleSmall {
    height: 42px;
    font-size: 15px;
    font-style: italic;
    opacity: 1;
    transform: translateY(0px);
    transition: all ease .9s;
}

.titleSmall.tSmallShowcase {
    height: 0px;
    font-size: 32px;
    color: white;
    opacity: 1;
    text-align: center;
}

.itemTitleSmallOut {
    opacity: 0;
    transform: translateY(5px);
}

.vaLogo {
    width: 150px;
}

.divider {
    background: rgba(98, 87, 114, 0.08);
    width: 250px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;

    opacity: 1;
    transform: translateY(0px);
    transition: ease 1.5s;
}

.divider.divderShowcase {
    transform: translateY(-30px);
    height: 3px;
}

.divider-load {
    width: 250px;
    transform: scaleX(0) translateY(0px);
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #f38181;
    display: block;

    opacity: 1;                   
    transition: ease 1.5s;
}

.divider-load.divderloadShowcase {
    transform: scaleX(1) translateY(-30px);
    height: 3px;
}

.divider-load-active {
    transform: scaleX(1) translateY(0px);
}

.dividerOut {
    opacity: 0;
    transform: translate(-15px)
}

.dividerloadOut {
    opacity: 0;
    transform: translate(-15px);
}


.locationArea {
    margin-top: 170px;
    margin-left: 12px;
    text-align: left;
    opacity: 1;
    transform: translateY(0px);
    transition: all ease 1s;
}

.locationArea.locareaShowcase {
    margin-top: 0px;
    margin-left: 0px;
    transform: translateY(55px);
    font-size: 34px;
    color: white;
    opacity: 1;
    text-align: center;
}

.locationAreaOut {
    opacity: 0;
    transform: translateY(-5px);
}


.expandActive {
    background: white;
    z-index: 999999;
    transform: scale(10);
    opacity: 1;
}


// Item showcase

.itemShowcaseWrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: -20px;
    z-index: 9;
    transform: scaleY(0);
    transition: all ease .5s;
}

.itemShowcaseWrapper.showcaseShow {
    transform: scaleY(1);
}

.itemShowcase {
    width: 100%;
    height: 1500px;
    // background: red;
    position: relative;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
}

.closeShowcase {
    position: absolute;
    z-index: 9;
    font-size: 60px;
    display: block;
    right: 0px;
    padding: 30px;
    cursor: pointer;
    &:hover {
        color: white;
    }
}

// Pagination

.showMore {
    background: $pastle-purple;
    color: white;
    width: auto;
    font-size: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    bottom: 0;
    display: none;
    cursor: pointer;
}

.showMore.show {
    display: block;
}

.showMoreControl {
    display: inline-block;
    position: relative;

    &:hover {
        color: $pastle-pink;
    }
}

.showMoreInfo {
    display: inline-block;
    margin: 0px 30px 0px 30px;
}


// Animation

@keyframes scaleIn {
    0% {
        //transform: scale(0);
        opacity: 0;
        transform: translateY(20px);
        
    }

    100% {
        //transform: scale(1);
        opacity: 1;
        transform: translateY(0px);
        
    }
}


.expand {
    width: 300px;
    height: 400px;
}


// Mobile 

@media screen and (max-width: 990px) {
    .itemTitle.itmTitleShowcase {
        font-size: 36px;
        margin-bottom: 70px;
    }

    .titleSmall.tSmallShowcase {
        font-size: 17px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .collection {
        width: 220px;
    }
}